/* Sidebar Styles */
#sidebar {
    background-color: red
    border-right: 1px solid #ddd;
    padding: 1rem;
}

/* Task table row hover effect */
.table tbody tr:hover {
    background-color:green
}

/* Priority color effects */
.high-priority {
    background-color: red;
}

.medium-priority {
    background-color: black; /* Light yellow */
}

.low-priority {
    background-color: blue; /* Light green */
}